.profile {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid gray;
  border-radius: 8px;
  max-width: 320px;

  text-align: center;
}
.description {
  padding: 10px;
}

.avatar {
  display: block;
  margin: 48px auto 10px auto;

  max-width: 50%;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tag {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(117, 115, 115);
}

.location {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(117, 115, 115);
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: aquamarine;
  /* height: 50px; */

  text-align: center;
  border-top: 1px solid rgb(117, 115, 115);
}

.stats li {
  width: calc(100% / 3);
  padding: 15px;
}

.stats li:not(:last-child) {
  border-right: 1px solid rgb(117, 115, 115);
}

.label {
  text-align: center;
  display: block;
  font-size: 20px;
  color: rgb(117, 115, 115);
}

.quantity {
  display: block;
  font-size: 22px;
  font-weight: bold;
}
