.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  /* border: 1px solid gray;
  border-radius: 8px; */
  max-width: 320px;

  text-align: center;
  list-style: none;

  /* outline: 1px solid red; */
}
