.statistics {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid gray;
  border-radius: 8px;
  max-width: 320px;

  text-align: center;
}
.title {
  margin-bottom: 20px;
  padding-top: 20px;
}

.statList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.percentage {
  font-size: 22px;
}
