.transactionHistory {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;
  border: 1px solid rgb(87, 87, 87);

  width: 540px;

  text-align: center;
  list-style: none;
}

td::first-letter {
  text-transform: uppercase;
}

.transactionHistory thead {
  background-color: rgb(49, 62, 245);
  color: #ffffff;
  font-size: 18px;
}

.transactionHistory tbody {
  color: rgb(87, 87, 87);
  font-size: 16px;
}

.highLightRow {
  background-color: #66cdaa;
}

.transactionHistory th,
.transactionHistory td {
  border: 1px solid gray;
}
