.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: aquamarine;
  /* height: 50px; */

  text-align: center;
  border-top: 1px solid rgb(117, 115, 115);
}

.stats li {
  width: calc(100% / 3);
  padding: 15px;
}

.stats li:not(:last-child) {
  border-right: 1px solid rgb(117, 115, 115);
}

.label {
  text-align: center;
  display: block;
  font-size: 20px;
  color: rgb(117, 115, 115);
}

.quantity {
  display: block;
  font-size: 22px;
  font-weight: bold;
}
